[Unit]  
Description=Hack the Planet
  
[Service]  
ExecStart=/usr/bin/dotnet HackThePlanet.Host.dll  
WorkingDirectory=/usr/local/sbin/hacktheplanet/
User=root
Group=root
Restart=always
SyslogIdentifier=hacktheplanet-service  
PrivateTemp=true  
  
[Install]  
WantedBy=multi-user.target