[Unit]  
Description=dotnetcore 2.1 sample service with generic host  
  
[Service]  
ExecStart=/bin/dotnet/dotnet HackThePlanet.Host.dll  
WorkingDirectory=/etc/Core.Service.Sample/  
User=dotnetuser  
Group=dotnetuser  
Restart=on-failure  
SyslogIdentifier=hacktheplanet-service  
PrivateTemp=true  
  
[Install]  
WantedBy=multi-user.target